[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ttkbootstrap = "*"
pyinstaller = "*"
cryptography = "*"
qrcode = {extras = ["pil"], version = "*"}
pyzbar = "*"

[dev-packages]

[requires]
python_version = "3.10"
